In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
df = pd.read_csv('Data_Dictionary.csv')
df.shape

(49, 2)

In [3]:
data = pd.read_csv('Training_dataset_Original.csv')
data.head()

/home/ashutosh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
0,230032,1696,1.6541,0.000,0.0,0.0,0,6015,322,40369,...,1,73.78,82.547,0.08696,10,0.63899,na,0,C,0
1,230033,1846,0.8095,0.000,0.0,0.0,102,7532,3171,18234,...,0,99.129,missing,0,13,0.63836,na,na,L,1
2,230034,1745,0.4001,0.000,0.0,0.0,missing,2536,missing,missing,...,0,missing,29.29,0,1,1.00000,na,0,C,1
3,230035,1739,0.2193,0.000,0.0,0.0,1982,26440,4955,20316,...,0,96.272,missing,0.15385,3,0.53241,0,0,L,0
4,230036,1787,0.0118,0.225,0.0,0.0,5451,5494,5494,7987,...,0,115.019,missing,0,1,0.92665,na,na,L,0

In [4]:
test = data.apply(pd.to_numeric, errors = 'coerce')

In [5]:
test.drop(['application_key','mvar47'], axis = 1, inplace = True)

In [6]:
columns = test.columns

columns

Index(['mvar1', 'mvar2', 'mvar3', 'mvar4', 'mvar5', 'mvar6', 'mvar7', 'mvar8',
       'mvar9', 'mvar10', 'mvar11', 'mvar12', 'mvar13', 'mvar14', 'mvar15',
       'mvar16', 'mvar17', 'mvar18', 'mvar19', 'mvar20', 'mvar21', 'mvar22',
       'mvar23', 'mvar24', 'mvar25', 'mvar26', 'mvar27', 'mvar28', 'mvar29',
       'mvar30', 'mvar31', 'mvar32', 'mvar33', 'mvar34', 'mvar35', 'mvar36',
       'mvar37', 'mvar38', 'mvar39', 'mvar40', 'mvar41', 'mvar42', 'mvar43',
       'mvar44', 'mvar45', 'mvar46', 'default_ind'],
      dtype='object')

In [ ]:
for i in tqdm(range(len(columns))):
    name = columns[i] + '.png'
    fig = plt.figure(figsize=(20,20))
    plt.subplot(2,1,1)
    plt.plot(test[columns[i]].dropna())
    plt.xlabel(labels[i], fontsize=18)
    plt.subplot(2,1,2)
    plt.boxplot(test[columns[i]].dropna())
    plt.xlabel(labels[i], fontsize=18)
    fig.savefig(name)

 43%|████▎     | 20/46 [00:20<00:25,  1.02it/s]/home/ashutosh/anaconda3/lib/python3.6/site-packages/matplotlib/pyplot.py:537: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  max_open_warning, RuntimeWarning)
100%|██████████| 46/46 [01:47<00:00,  7.19s/it]

In [9]:
label = pd.read_csv('Data_Dictionary.csv')

In [10]:
label = label['Definition'].values

In [11]:
labels = list(label)

In [12]:
columns = list(columns)

In [29]:
len(columns)

46

In [28]:
len(labels)

46